/* components/MapComponent.css */

.map-wrapper {
    flex: 2;
    min-height: 400px;
    width: 102%;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #c0c0c0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

}

.simplemaps-map-canvas {
    height: 400px; 
}

.map-overlay-info {
    position: absolute;
    z-index: 1000; 
    background-color: rgba(255, 255, 255, 0.95); 
    padding: 10px 15px;
    border-radius: 8px;
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    color: black;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.map-overlay-info--country {
    top: 5%; 
    right: 20px;
    white-space: nowrap;
}

.dns-entry {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 5px;
    padding: 2px 0;
}

.dns-label {
    color: #444;
}

.dns-value {
    font-weight: 700;
    color: #000;
}
.map-overlay-info--ip {
    top: 10%; 
    left: 40%;
    transform: translateY(-50%);
    display: flex;
    font-size: 14px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 8px 12px; 
}

.ip-highlight {
    background-color: #e6f0ff; 
    padding: 2px 5px;
    border-radius: 4px;
    margin-left: 8px; 
    border: 1px solid #c0d8ff;
    font-weight: 700;
    color: #000000;
}

.leaflet-blue-marker { 
width: 16px !important;
height: 16px !important;
background-color: #3399FF;
border-radius: 50%;
border: 2px solid white; 
box-shadow: 0 0 5px rgba(51, 153, 255, 0.5);
}

.leaflet-marker-icon {
    border-radius: 50%; 
}

.leaflet-control-container .leaflet-control-attribution.leaflet-control {
    display: none !important;
}

.leaflet-control-container a.leaflet-control-attribution:nth-child(2) {
    display: none !important; 
}
