:root {
  --font-heading: "JetBrains Mono", monospace;
  --font-subheading: "JetBrains Mono", monospace; 
}

:root {
  --background-color: #F1F5F9;
  --text-color: #ffffff;
}

body {
  /* Убедитесь, что цвет фона совпадает */
  margin: 0;
  background-color: var(--background-color); 
  color: var(--text-color); /* Добавим цвет текста, чтобы он не был черным */
}

/* 3. Остальные стили для h1-h6 и p остаются как есть, */
/* так как они уже используют переменные --font-heading и --font-subheading: */

h1 {
  font-family: var(--font-heading);
  font-weight: 700;
}

h2,
h3 {
  font-family: var(--font-heading);
  font-weight: 700;
}

h4,
h5,
h6 {
  font-family: var(--font-subheading);
  font-weight: 500;
}

body, html, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh; 
}